@model WebApplication5.Models.class2

@{
    ViewBag.Title = "Ajout";
    Layout = "~/Views/mainten/_Layoutmainte.cshtml";
}
<style>
    .mf {
        position: absolute;
        left: 450px;
        top: 600px;
    }
    .icon {
        position: absolute;
        left: 100px;
        top: 80px;
    }

    h2 {
        color: purple;
        text-decoration: underline;
        font-family: 'Harlow Solid';
        font-size: 40px;
    }

    fieldset {
        padding: 0px 95px 0px 95px;
        border: groove;
    }

    legend {
        padding: 0px 10px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    body {
        background-image: url('../../Content/de.jpg');
        /* background-image: url('../../Content/main.jpg');*/
        background-size: cover;
        background-position: unset;
        padding: 200px;
        width: auto;
    }

    section {
        position: absolute;
        left: 550px;
        top: 80px;
    }
</style>

<body>
    <section>
        <fieldset>
            <legend><h2>Ajout</h2></legend>



            @using (Html.BeginForm("Ajout", "mainten", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.id_equip, new { @class = "form-control", @placeholder = "Numéro" })<br />
                @Html.TextBoxFor(x => x.id_dep, new { @class = "form-control", @placeholder = "id depa" })<br />
                @Html.TextBoxFor(x => x.libelledep, new { @class = "form-control", @placeholder = "Département" })<br />
                @Html.TextBoxFor(x => x.@ref, new { @class = "form-control", @placeholder = "Référence" })<br />
                @Html.TextBoxFor(x => x.libelleq, new { @class = "form-control", @placeholder = "Libelle" })<br />
                @Html.TextBoxFor(x => x.id_type, new { @class = "form-control", @placeholder = "id type" })<br />
                @Html.TextBoxFor(x => x.etat, new { @class = "form-control", @placeholder = "etat" })<br />
                @Html.TextBoxFor(x => x.denomination, new { @class = "form-control", @placeholder = "Type" })<br />
                @Html.TextBoxFor(x => x.id_fiche, new { @class = "form-control", @placeholder = "Fiche technique" })<br />
                @Html.TextBoxFor(x => x.id_typentr, new { @class = "form-control", @placeholder = "id type entretien" })<br />

                @Html.TextBoxFor(x => x.libellentr, new { @class = "form-control", @placeholder = "Historique de reparation" })<br />
                <div class="mf">
                <input type="submit" value="submit" class="btn btn-primary" />
                </div>


                @*<div>
                        <br />
                        @Html.ActionLink("Back ", "gestequip")
                    </div>*@


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            }
        </fieldset>


    </section>
    <div class="icon">
        <a href="@Url.Action("gestequip", "mainten")"><i class="fas fa-arrow-circle-left fa-4x"></i></a>
        @*@Html.ActionLink("Back", "gestequip")*@
    </div>
</body>
